.form {

    margin-left: 50px;
    padding: 40px;
 
}
form {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
   
  }
  .form-control {
    margin: 10px 0;
    width: 400px;
  }
  
  .btn-primary {
    margin-top: 10px;
  }

  .loginform{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-left: 300px;
    background-color: aqua !important;
    
  }

  .btn{
    margin-left: 300px;
    background-color: rgb(152, 56, 163);
    outline: auto;
    padding: 10px;
  }

  .shadow{
    margin-left: 300px;
    margin-right: 300px;
   margin-top: 70px;
   
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
  }
  body {
    background-color: #e7d3f7; /* Replace with your desired color */
    margin: 0 !important; /* Remove default margin */
    min-height: 100vh;
    padding-top: 70px;
}
:host {
  display: block;
  min-height: 100vh; /* Ensure the background covers the full height */
}