/* You can add global styles to this file, and also import other style files */

@import "../node_modules/angular-calendar/css/angular-calendar.css";
html, body { height: 10%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    background-color: yellow; /* Helps visualize body area */
  }
html, body { height: 50%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
